.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  /* background-color: #0C134F; */
  background-image: url("./images/mydice.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #289873;
}

p {
  font-size: 2rem;
  color: #289873;
  ;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
button {
  margin-top: 50px;
  font-size: large;
  background-color: azure;
  color: black;
  border-radius: 12px;
  transition: 0.4s;
}
button:hover {
  color: azure;
  background-color: black;
}
